.video-section678 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .background-video678 {
    width: 100%;
    height: 800px;
    object-fit: cover;
    z-index: -1;
  }
 
 
  .content245 {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;
  }  


  /* MyComponent.css */
.main-container {
    margin-top: 50rem;
    margin-left: -60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.top-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.center-paragraph {
    color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.bottom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border: 10px solid rgb(255, 255, 255)030;
    cursor: pointer;
    border: 3px solid #ffffff;
    cursor: pointer;
    z-index: 9999;
  
}
.bottom-button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
    /* Responsive adjustments */
    .main-container {
        padding: 10px;
    }

    .top-title {
        font-size: 20px;
    }

    .center-paragraph {
        font-size: 16px;
    }
}
