/* Navbar */
.navbar {
  margin-top: -47rem;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #ffffff;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;

  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-container.show {
  transform: translateX(0);
}

.close-menu {
  cursor: pointer;
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.menu li:hover {
  background-color: black;
}

.menu li:last-child {
  border-bottom: none;
}

/* Icons */
.search-icon,
.cart-icon,
.mobile-icon,
.laptop-icon,
.collections-icon,
.skins-icon,
.covers-icon {
  margin-right: 50px;
  font-size: 15px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.icons-container > div {
  margin: 20px;
}

.icons-container > div:hover {
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .icons-container {
    flex-direction: column;
    align-items: center;
  }

  .icons-container > div {
    margin: 10px 0;
  }
}

.video-section678 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 750px;
 
}

.background-video678 {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
